<article class="info">
	<h2 class="underline">Classes offered</h2>
	<div class="flexer">

	<div>
				<ul>
					<li><h3 class="label">Drawing I</h3></li>
					<li><h4>Duration: 10 sessions (90mins ea)</h4></li>
					<li><h4>Fee: $20 per session</h4></li>
					<li><h4>Topics:</h4></li>
					<li>Visualization</li>
					<li>Elements of art</li>
					<li>Line and contour</li>
					<li>Shape and form</li>
					<li>Composition</li>
					<li>Space and depth</li>
					<li>Shading and rendering</li>
					<li>Light and shadow</li>
					<li>Proportion and linear perspective</li>
					<li>Projects and critique</li>
				</ul>
	</div>

	<div>
				<ul>
					<li><h3 class="label">Drawing II</h3></li>
					<li><h4>Duration: 10 sessions (90mins ea)</h4></li>
					<li><h4>Fee: $20 per session</h4></li>
					<li><h4>Topics:</h4></li>
					<li>In-depth investigation of various drawing media and papers</li>
					<li>Design issues, expression</li>
					<li>Trompe l'oeil</li>
					<li>Envisioned and observational drawing</li>
					<li>Head anatomy and portrait</li>
					<li>Gesture and line movement</li>
					<li>Advanced composition and atmospheric perspective</li>
					<li>Realistic shading and rendering</li>
					<li>Advanced perspective</li>
					<li>Introduction to color theory</li>
					<li>Projects and critique</li>
				</ul>
	</div>

	<div>		
				<ul>
						<li><h3 class="label">Painting I</h3></li>
						<li><h4>Duration: 10 sessions (60mins ea)</h4></li>
						<li><h4>Fee: $40 per session</h4></li>
						<li><h4>Topics:</h4></li>
						<li>Introduction to oils, techniques and principles of oil painting</li>
						<li>Techniques to transfer a drawing onto canvas</li>
						<li>Preparation of painting surfaces and imprimatura</li>
						<li>Wet on wet, thick and thin principles and technique</li>
						<li>Development of color explanation of pictorial space</li>
						<li>Color theory, color mixture and color psychology</li>
						<li>Light and shadow</li>
						<li>Landscapes</li>
						<li>Still lifes and portrait</li>
						<li>Projects and critique</li>
				</ul>
	</div>

	<div>
					<ul>
						<li><h3 class="label">Painting II</h3></li>
						<li><h4>Duration: 10 sessions (60mins ea)</h4></li>
						<li><h4>Fee: $40 per session</h4></li>
						<li><h4>Topics:</h4></li>
						<li>Application of technical painting skills to <br>develop personal expression in response to various types of imagery</li>
						<li>Self portrait</li>
						<li>Color fragmentation</li>
						<li>Chiaroscuro</li>
						<li>Motifs and totality</li>
						<li>Art metaphors</li>
						<li>Old masters art reproduction</li>
						<li>Projects and critique</li>
					</ul>
	</div>
	</div>
</article>