<article class="text">
				<h2>Hey, I am Vasudeva.</h2>
				<p>I am a software developer by profession. Fine art is my passion. I grew up drawing and painting. Later I wanted to improve my art skills and I went to art school and I got an associate's degree in fine art from Parkland College, Illinois.
				I am very grateful to my professors Steven Hudson and Joan Stolz who taught me everything I know about art today. Charcoal and Oils are my favorite medium. I experiment with various subjects. Rembrandt, Rene magritte, Dali are some of my favorite artists. I love art and I would like to teach art to those who are passionate to learn. Be sure to check out some of my artworks below and feel free to say hi to me :)</p>
</article>