<article class="info">
	<h2 class="underline">Art supplies</h2>
	<div class="flexer">
	<div>
	<ul>
						<li><h3 class="label">Drawing I & II</h3></li><br>
						<li>Charcoal pencils, Graphite drawing pencils set</li>
						<li>Mechanical pencil </li>
						<li>Vine charcoal, Prang wrap charcoal pencils</li>
						<li>Kneaded eraser, Artist tape</li>
						<li>Large ruler, Blending stumps</li>
						<li>Tortillons, Final fixative</li>
						<li>Strathmore tracing 14"x17" 50sheets</li>
						<li>Newsprint paper 18x24, Canson paper 18x24</li>
						<li>Pencil sharpener, Loft utility knife</li>
						<li>Sandpaper block</li>
						<li>Field Sketch Board 22"x25"</li>
						<li>OPTIONAL:</li>
						<li>2 drawing board clips, Art bin to put supplies</li>
						<li>Art easel, Chamois, Felt cloth, View finder</li>
						<li>Artist's Loft® Studio Portfolio 23"x32"x3", Magnifying glass</li>
	</ul>
	</div>

	<div>
		<ul>
						<li><h3 class="label">Painting I & II</h3></li><br>
						<li>Gamblin or windsor & Newton oil paints</li>
						<li>Small-Acrylic paints</li>
						<li>Artist tape, Ruler</li>
						<li>Brushes, Paint thinner</li>
						<li>Linseed stand oil, Easel</li>
						<li>Vine charcoal</li>
						<li>Canvases, Palette knives set</li>
						<li>Newsprint paper</li>
						<li>Tracing Paper, Rags</li>
						<li>Optional: Plastic art supplies box, Color wheel</li>
						<li>Molding paste, Galkyd medium</li>
		</ul>
</div>
</div>
</article>